<div class="flex h-screen">
  <div class="w-[50%]">
    <form (ngSubmit)="onFormSubmit()" [formGroup]="booksForm">
      <h1 class="py-10 font-extrabold text-5xl">Books</h1>

      <div class="mt-2">
        <label for="title" class="font-bold">Title</label>
        <input type="text" class="w-full p-2 border-2 rounded-sm mt-2" formControlName="title">
      </div>

      <div class="mt-2">
        <label for="author" class="font-bold">Author</label>
        <input type="text" class="w-full p-2 border-2 rounded-sm mt-2" formControlName="author">
      </div>

      <div class="mt-2">
        <label for="releaseDate" class="font-bold">Published Date</label>
        <input type="date" class="w-full p-2 border-2 rounded-sm mt-2" formControlName="releaseDate">
      </div>

      <div class="mt-2">
        <label for="genre" class="font-bold">Genre</label>
        <input type="text" class="w-full p-2 border-2 rounded-sm mt-2" formControlName="genre">
      </div>

      <div class="mt-2">
        <button type="submit" class="bg-slate-800 text-white px-4 py-2 rounded-sm w-full">
          {{ selectedBookId ? 'Update' : 'Add' }}
        </button>
      </div>
    </form>
  </div>

  <div class="overflow-auto w-[50%]">
    <ul *ngIf="books$ | async as books; else noBooks">
      <li *ngFor="let item of books; trackBy: trackById" class="p-2 bg-slate-100 border-b-2 border-b-200">
        <span class="font-light text-3xl">{{ item.title }} </span>
        <div>
          <span>{{item.author}}</span>
          <span class="flex items-center">{{item.releaseDate | date}}</span>
          <span class="flex items-center">{{item.genre}}</span>

          <button class="bg-slate-50 text-dark py-2 px-4 rounded-sm" type="button" (click)="onDelete(item.id)">
            Delete
          </button>

          <button class="bg-blue-500 text-white py-2 px-4 rounded-sm" type="button" (click)="onUpdateBook(item)">
            Update
          </button>
        </div>
      </li>
    </ul>

    <ng-template #noBooks>
      <p>No Books found</p>
    </ng-template>
  </div>
</div>
